body {
  margin: 0;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;

  .gauche {
    color: aliceblue;
    background-color: cornflowerblue;
    width: 20vw;
    padding: 2vh;
    opacity: 80%;

    ul {
      margin-left: 1vh;
      font-size: 1.5em;
    }

  }

  .tele {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .top {
      color: aliceblue;
      margin-left: none;
      background-color: cornflowerblue;
      width: 100%;
      padding: 0.5vh;
      opacity: 80%;
    }

    img {
      z-index: +1;
    }

  }
  .contour-jeu {
    position: absolute;
    margin-top: 7.9vh;
    margin-left: 7.6vh;
    width: 50%;
  }
}