@font-face {
  font-family: "titre";
  src: url(../fonts/CAMPUS\ PERSONAL\ USE.ttf);
}

@font-face {
  font-family: "text";
  src: url(../fonts/collegeb.ttf);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;

  .contour-jeu {
    z-index: -5;
    scale: 0.53;
    margin-top: -12.4vh;
    margin-left: -7.8vh;
    border-radius: 100px;
    opacity: 90%;
  }

  .top {
    color: aliceblue;
    margin-left: none;
    padding: 0.5vh;
    text-align: center;
    margin-left: 10vh;
  }
  .titre {
    background-color: rgb(172, 113, 74);
    margin-inline: 10vh;
    font-size: 1.5rem;
    border: double 10px black;
    font-family: "titre";
    padding-inline: 1vh;
    opacity: 90%;
  }

  .bottom {
    color: aliceblue;
    background-color: cornflowerblue;
    padding-inline: 3vh;
    opacity: 90%;
    font-size: 1.5rem;
    background-color: rgb(172, 113, 74);
    border: double 10px black;
    font-family: "text";
    margin-top: -10vh;
    width: 60%;
    margin-left: 10vh;
  }
}
